{
  "swagger": "2.0",
  "host": "orgname-env.apigee.net",
  "schemes": [
    "https",
    "http"
  ],
  "info": {
    "description": "Products Information",
    "title": "Products",
    "version": "1.0",
    "termsOfService": "http://example.com/about/terms",
    "contact": {
      "name": "API Docs",
      "url": "http://example.com/contact",
      "email": "apis-eng@apigee.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://example.com"
    }
  },
  "basePath": "/v1",
  "paths": {
    "/products": {
      "post": {
        "description": "<p>Create Product</p> Create new product",
        "summary": "Create new product",
        "operationId": "Create New Product",
        "tags": [
          "Products"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New Product to be added to the store",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewProductDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductDetail"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "get": {
        "description": "<p>Product Detail</p> Detailed list of all Products.",
        "summary": "Get All Product Details",
        "operationId": "Get All Products",
        "tags": [
          "Products"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductDetails"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized access"
          }
        },
        "parameters": []
      }
    },
    "/products/{product_id}": {
      "get": {
        "description": "<p>Product Detail</p> Detailed list of Product given the productId.",
        "summary": "Product Detail",
        "operationId": "Get Product",
        "tags": [
          "Products"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product identifier",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductDetail"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "put": {
        "description": "<p>Update Product</p> Update product for a given productId",
        "summary": "Update Product",
        "operationId": "Update Product",
        "tags": [
          "Products"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product identifier",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "description": "Product to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewProductDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductDetail"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/products/{product_id}/availability": {
      "get": {
        "description": "<p>Product Availability</p> Detailed info of Product availability for the given productId.",
        "summary": "Product Availability",
        "operationId": "Get Product Availability",
        "tags": [
          "Products"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product identifier",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductAvailability"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    }
  },
  "definitions": {
    "ProductDetails": {
      "description": "Product Details",
      "type": "array",
      "items": {
        "$ref": "#/definitions/ProductDetail"
      }
    },
    "ProductDetail": {
      "description": "Product Details",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "A unique identifier for the product"
        },
        "product_name": {
          "type": "string",
          "description": "Display name of the product"
        },
        "short_description": {
          "type": "string",
          "description": "A short description of the product"
        },
        "images": {
          "type": "array",
          "description": "An array of image objects",
          "items": {
            "type": "string",
            "description": "Image Url"
          }
        },
        "category": {
          "type": "array",
          "description": "An array of category objects",
          "items": {
            "type": "string",
            "description": "Product Categories"
          }
        },
        "overall_rating": {
          "type": "number",
          "format": "float",
          "description": "Overall customer rating for the product"
        }
      }
    },
    "NewProductDetail": {
      "description": "Product Details",
      "type": "object",
      "properties": {
        "product_name": {
          "type": "string",
          "description": "Display name of the product"
        },
        "short_description": {
          "type": "string",
          "description": "A short description of the product"
        },
        "images": {
          "type": "array",
          "description": "An array of image objects",
          "items": {
            "type": "string",
            "description": "Image Url"
          }
        },
        "category": {
          "type": "array",
          "description": "An array of category objects",
          "items": {
            "type": "string",
            "description": "Product Categories"
          }
        },
        "overall_rating": {
          "type": "number",
          "format": "float",
          "description": "Overall customer rating for the product"
        }
      }
    },
    "ProductAvailability": {
      "description": "Product Availability Object",
      "type": "object",
      "properties": {
        "product_id": {
          "type": "string",
          "description": "A unique identifier for the product"
        },
        "name": {
          "type": "string",
          "description": "SKU identifier"
        },
        "sku_name": {
          "type": "string",
          "description": "SKU Name"
        },
        "sku_description": {
          "type": "string",
          "description": "A short description of the product"
        },
        "available_quantity": {
          "type": "integer",
          "description": "available quantity"
        },
        "created_date": {
          "type": "number",
          "format": "date",
          "description": "Created Date"
        },
        "expiry_date": {
          "type": "number",
          "format": "date",
          "description": "Expiration Date"
        },
        "images": {
          "type": "array",
          "description": "An array of image objects",
          "items": {
            "type": "string",
            "description": "Image Url"
          }
        },
        "discount": {
          "type": "number",
          "format": "float",
          "description": "Discount"
        },
        "price": {
          "type": "number",
          "format": "float",
          "description": "Price"
        },
        "inventory_type": {
          "type": "string",
          "description": "Inventory Type"
        }
      }
    }
  }
}
